@page {
    width: 50% !important;
    margin: 0 auto !important;
    border: 1px solid black !important;
  }

body {
    width: 50% !important;
    margin: 0 auto !important;
    border: 1px solid black !important;
  }

/* button style */
button{
    display: none !important;
}


/* Style the heading text */
h1, h2, h3 {
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Style the links */
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #0066cc;
}