/* @page {
    width: 50% !important;
    margin: 0 auto !important;
    border: 1px solid black !important;
  }
*/
.narrow-page {
    width: 50% !important;
    margin: 0 auto !important;
    border: 1px solid black !important;
  }

/* button style */
/* button{
    display: none !important;
} */


/* Style the heading text */
h1, h2, h3 {
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Style the links */
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #0066cc;
}
.logo {
    width: 4.5rem;
    height: 4.7rem;
}
span{
    font-size: 1.5rem !important;
}
.narrow-page tr{
    border-bottom: .5rem solid #052959;
}
a.btn{
    font-size: 2rem;
    padding: 0.5rem 3rem;
    /* margin-bottom: 1rem; */
}
td{
    padding: 1.5rem 0rem !important;
}
.duplicate{
    display: none;
}

@media print {
    .duplicate{
        display: block;
        border-top:3px dashed black;
        margin-top: 10rem;
    }
    .narrow-page {
        width: 100% !important;
        margin: 0 auto !important;
        border: none!important;
    }
    .right-nav, .action-buttons {
        display: none;
    }
    .page-header{
        margin: 2rem 0rem;
    }
    .badge-success {
        color: #fff;
        background-color: #28a745;
    }
    a.btn{
        display:none
    }
    
}