.l-table {
  padding: 2rem;
  background-color: var(--white_alt);
  width: 100%;
}

.l-table > table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
.l-table .more {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 2.4rem;
  color: var(--blue_alt);
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
.l-table-container {
  width: 100%;
  border-spacing: 0px;
}

.l-table-container > .header {
  background-color: rgba(2, 40, 115, 0.15);

  border-collapse: collapse;
}
.l-table-container > tr {
  margin-bottom: 3.2rem;
}

th {
  padding: 2.4rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--blue_alt-02);
}

td,
th {
  text-align: left;
}
@media only screen and (max-width: 760px) {
  table {
    width: 100%;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    width: 100%;
  }

  td:before {
    float: left;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);

    color: #000;
    font-weight: bold;
  }
}
